@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200&family=Montserrat:wght@200&family=Taviraj:wght@100&display=swap');

:root {
    --clr-dark: #9c9c9c;
    --clr-light: #fff;
    --clr-grey: #7b7b7b;

    --ff-h1: Catamaran;
    --ff-h2: Monntserrat;
    --ff-p: Taviraj;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-p);
    font-size: 1.3125rem;
    line-height: 1.6;
    color: var(--clr-dark);
}

img {
    display: block;
    max-width: 100%;
}

h1, h2 {
    font-family: var(--ff-h1);
    line-height: 1;
    color: var(--clr-light);
}

h3 {
    font-family: var(--ff-h2);
    line-height: 1;
    color: var(--clr-grey);
}

.container {
    width: 90%;
    background-color: var(--clr-grey);
    padding: 10px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    flex: 1;
    
}

.box {
    width: 250px;
    height: 300px;
    background-color: var(--clr-dark);
    margin: 10px;
    transition: 0.5s;
    transform: scale(1);
    text-align: center;
    border-radius: 25px;
    flex: 1;
}

.box:hover {
    background-color: var(--clr-light);
    transform: scale(1.1); 
    z-index: 2;
    box-shadow: inset 10px 10px 10px 10px red;
    flex: 2;
}

.grid {
    display: grid;
    width: 90%;
    background-color: var(--clr-dark);
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px auto;
    text-align: center;
    border: 2px solid red;
    justify-content: center;
    flex: 1;
    border-radius: 25px;
}

.grid-row {
    background-color: var(--clr-light);
    color: var(--clr-grey);
    border: 1px solid red;
    transform: scale(1);
    border-radius: 25px;
    transform: 1s;
}

.grid-row h1 {
    color: var(--clr-grey);
}

.grid-row:hover {
    transform: scale(1.1);
    z-index: 2;
    transition: 0.5s;
}

.container:hover {
    flex: 2;
    transform: scale(1.1);
    z-index: 2;
    transition: 0.5s;
}

.menu {
    width: 90%;
    background-color: var(--clr-grey);
    color: var(--clr-light);
    justify-content: center;
    display: flex;
    margin: auto;
    border-radius: 25px;
}

.menu h2 {
    font-size: 2em;
    padding: 1em;
}

h2:hover {
    color: aqua;
    transform: scale(1.2);
    transition: 0.5s;
}